<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="title"><title>${_("FAQ")}</title></%block>

<section class="container about">
<h2>¿C&oacute;mo puede acceder a la plataforma?</h2>
<p>
    El acceso a la plataforma de cursos de <b>UC3M Digital</b> se realiza utilizando como nombre de usuario tu direcci&oacute;n de correo electr&oacute;nico de la Universidad, y como clave la misma que utilizas para acceder al restos de servicios de la Universidad.
</p>
<h2>No veo el curso que me corresponde</h2>
<p>
   Antes de acceder a un curso determinado deber&aacute;s apuntarte a &eacute;l. Para ello tendr&aacute;s que completar el proceso de registro mediante el enlace "Registrarse" que pararece en la parte superior de la pantalla principal.
</p>
</section>

