<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="title"><title>${_("Vision")}</title></%block>

<section class="container about">
<h1>Sobre UC3M Digital</h1>
<p>
    <b>UC3M Digital</b> es una plataforma online de la Universidad Carlos III que permite a los profesores complementar sus clases presencia
les con vídeos, actividades y otros materiales organizados en forma de curso. El objetivo es aplicar la tecnología que utilizan los MOOC (Ma
ssive Online Open Courses) para mejorar el aprendizaje de los alumnos. Los conceptos teóricos clave se explican en vídeos breves y se acompa
ñan de ejercicios para que el estudiante compruebe si ha asimilado correctamente los conocimientos, es decir, no sólo comprobación a posteri
ori [evaluación sumativa], sino también que los ejercicios sirvan para aprender y asimilar mejor [evaluación formativa]</li>
</p>
</section>

