<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="title"><title>${_("Contact")}</title></%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p>
UC3M Digital es una plataforma en permanente mejora. Si deseas hacer alguna sugerencia, no dudes en contactar con la
 Unidad de Tecnología Educativa e Innovación Docente UTEID) de la Universidad Carlos III: <a href="mailto:uteid_db@listserv.uc3m.es">uteid_db@listserv.uc3m.es</a>.
</p>
<p>
Si tienes problemas de acceso o cualquier otro problema t&eacute;cnico puedes enviar un mensaje a direcci&oacute;n de soporte 
 <a href="mailto:uteid_tec@listserv.uc3m.es">uteid_tec@listserv.uc3m.es</a>.
</p>
</section>

